@using Ecom.Models
@model Ecom.Models.LoginViewModel
@{

    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<h3>admin@admin.com pw@T3st!</h3>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe">Remember Me</label>
        <input asp-for="RememberMe" />
    </div>
    <div>
        <button type="submit">Log in</button>
    </div>
</form>