@using Microsoft.AspNetCore.Identity
@using ECommerce.Models

@{
    ViewData["Title"] = "Index";
}

@if (User.Identity.IsAuthenticated)
{
    <h2>Welcome @User.Identity.Name</h2>
}
else
{
    <h2>Hello there Stranger!</h2>
}