@model EcommerceStore.Models.ApplicationUser
@using Microsoft.AspNetCore.Identity


@if (User.Identity.IsAuthenticated)
{
    <h2>Hello @User.Identity.Name</h2>
}
else
{
    <h2> You don't have rights being here</h2>
}

This is the Home page

Register
<!-- asp-controller: must equal a controller with a Index View()
    asp-action must equal a Views Folders
    -->
    <div class="container">
        <a asp-controller="Account" asp-action="Register"> Here </a>
    </div>
        Login-Here
        <a asp-controller="Account" asp-action="Login"> Here </a>


<!--
     AWAIT COMPONET.iNVOKEASYNC ("TOP POSTS" ,3 ) -> THIS IS YOUR VIEW COMPONETS 
    INOKE 
    INSERT YOUR COMPENT VIEWS HERE LATER ON
    --->