@model ECommerce.Models.ProductViewModel
@{
    ViewData["Title"] = "Index";
}

@foreach(var product in Model.Products)
{
    <h3>@product.Name</h3>
    <h4>@product.Price</h4>
    <p>@product.Description</p>
    <img src=@product.ImagePath/>
}