@model ECommerce.Models.ProductViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>This is the products home</h2>

@foreach (var product in Model.Products)
{

    <h3>@product.Name</h3>
    <h4>@product.Price</h4>
    <p>@product.Description</p>
    <img class="product" src=@product.ImagePath />
    <a asp-action="Details" asp-route-id="@product.Id">More Details</a>
}