@model Product

@{ 
    ViewBag.Title = "Edit";
}

<h2> Edit @Model.Name</h2>


<form method="post">
    <input hidden asp-for="Id"/>

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>

    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" />
    </div>

    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" />
    </div>

    <div>
        <label asp-for="ImageHref"></label>
        <input asp-for="ImageHref" />
    </div>

    <a asp-action="Details" asp-route-id="@Model.Id">Cancel </a>
    <button type="submit"> Submit </button>
    <button type="reset"> Reset</button>

</form>