@model ECommerce.Models.ProductViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Please look at our selection.</h2>
<br />
@foreach (var product in Model.Products)
{

    <h3>@product.Name</h3>
    <h4>@product.Price</h4>
    <p>@product.Description</p>
    <img class="productImage" src=@product.ImagePath />
    <br />
    <button type="button" class="btn btn-warning">Add To Cart</button>
}
